body {
	background-color: #212529;
}

p{
	color: rgb(134, 134, 134);
}
.username {
	text-decoration: none;
	font-size: 20px;
	font-family: Verdana;
	color: dimgrey;
}
hr {
	margin-top: 2rem;
	margin-bottom: 2rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .1);
  }

hr {
	overflow: visible;
	box-sizing: content-box;
	height: 0;
  }

#logo {
	font-family: Billabong;
	font-size: 50px;
	text-decoration:none;
}

.rounded-circle {
	width: 35px;
	height: 35px;
}

.rounded-circlea {
	border-radius: 100%;
}

.create_date {
	color: lightgrey;
	float:right;
}

.profile {
	width: 40px;
	height: 40px;
	border-color: #012229!important;

}

.profile:hover{
	border-color: #0dcaf0!important;

}

.camera {
	margin-right: 2rem;
	width: 50%;
}

.image {
	width: 40%;
}

.buttons {
	width: 60%;
	height: auto;
}


label {
	display: block;
	position: relative;
	cursor: pointer;
  }
  
  label:before {
	background-color: #212529;
	color: white;
	content: " ";
	display: block;
	border-radius: 50%;
	border: 1px solid grey;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 28px;
	transition-duration: 0.4s;
	transform: scale(0);
  }
  
  label img {
	transition-duration: 0.2s;
	transform-origin: 50% 50%;
  }
  
  :checked + label:before {
	content: "✓";
	background-color: green;
	transform: scale(1);
  }
  
  :checked + label img {
	transform: scale(0.9);
	z-index: -1;
  }

#filters
{
	position: absolute;
	top: 63%;
	left: 0%;
	width: 30%;
	height: 40%;
}
#filters1
{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 30%;
	height: 40%;
}
#filters2
{
	position: absolute;
	top: 70%;
	left: 70%;
	width: 30%;
	height: 40%;
}
#filters3
{
	position: absolute;
	top: 0%;
	left: 70%;
	width: 30%;
	height: 40%;
}

.filter {
	width: 4%;
	margin-right:10px ;
}

.information {
	width: 70%;
}

.user-img {
    margin-top: 4px
}


i {
	width: 30px;
	height: auto;
}

#edit_div {
	display: none;
}

#cancel{
	display: none;
}


.column {
	background-color: #ecf3f7;
	float: left;
	width: 4rem;
	height: auto;
}

.filter_img {
	width: 4rem;
	height: 4rem;
}

.edit-btn {
	width: 40%;
}

.del-btn {
	width: 40%;
}
.gallery {
	width: 33.33%;
	min-width: 200px;
	min-height: auto;
}
.infos {
	width: 25%;
}
.profile-pic {
	border-radius: 50%;
	width: 13vw;
	height: 13vw;
	object-fit: cover;

}
.update-btn {
	width: 60%;
}
.cancel-btn {
	width: 40%;
}

.post-user {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;  
	border: 1px solid black;
	object-fit: cover;
}

.out-btn {
	width: 1.5rem;
	height: 1.5rem;
}

.list-out-btn {
	width: 1.5rem;
	height: 1.5rem;
}

.cam-btn {
	width: 2rem;
	height: 2rem;
}

.list-cam-btn {
	width: 2rem;
	height: 2rem;
}

.profile-btn {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	object-fit: cover;
}

.list-profile-btn {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	object-fit: cover;
}

.list-btn {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.list-toggle {
	display: none;
}

.gallery-container {
	width: 70%;
}

.post-container {
	width: 60%;
	height: 60rem;
}
.post-img {
	width: 100%;
	height: 50rem;
	object-fit: cover;
}

.liste {
	display: none;
	position: absolute;
	right: 10%;
	top: 15%;
	background-color: #212529;
	border: 1px solid black;
	width: 10rem;
}
.liste ul {
	list-style: none;
}

.liste ul li a {
	text-decoration: none;
}


.pr{
	position: absolute;
	right: -3vw;
	top: 4vh;	
}
.mono {
	position: absolute;
	top: 105px;
	right: 0vw;
	padding: 10px 20px;
	background: #fff;
	width: 215px;
	box-sizing: 0 0.5vw 2.5vw rgba(0,0,0,0.1);
	border-radius: 15px;
	transition: 1.5s;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
}
.mono.active {
	visibility: visible;
	opacity: 1;
	
}
.mono::before{
	content: '';
	position: absolute;
	top: -2px;
	right: 2vw;
	width: 20px;
	height: 20px;
	background: #fff;
	transform: rotate(45deg);	
}
.mono h3 {
	width: 100%;
	text-align: center;
	font-size: 18px;
	padding: 20px 0;
	font-weight: 500;
	color: #555;
	line-height: 1.2em;
}
.mono h3 span{
	font-size: 14px;
	color: #cecece;
	font-weight: 400;
}
.mono ul li{
	list-style: none;
	padding: 10px 0;
	border-top: 1px solid rgba(0,0,0,0.05);
	display: flex;
	align-items: center;
	justify-content: center;
}
.mono ul li img{
	max-width: 30px;
	max-height: 30px;
	margin-right: 10px;
	opacity: 0.5;
	transition: 0.5s;
}
.mono ul li:hover img{
	opacity: 1;
}
.mono ul li a{
	display: inline-block;
	text-decoration: none;
	color: #555;
	font-weight: 500;
	transition: 0.5s;
}
.mono ul li a:hover a{
color: #ff5d94;
}



ul.pagination {
    display:inline-flex;
    padding: 0;
    margin: 0;
}

ul.pagination li {
	display: inline;
	margin: 2px;
	text-align: center;}

ul.pagination li a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
	border-radius: 5px;
	height: auto;
}

ul.pagination li a:hover:not(.active) {background-color: #145979;color: white;}


.comm{
	height: 20rem!important;
}
@media screen and (min-width:768px) {
	
	.card-bodya{
		width:30%;
		height: 100%;
	}
	.pr{
		position: absolute;
		right: 0vw;
		top: 4vh;
	}
	
}
.hidd{
		width: 50%;
	}
@media screen and (max-width:768px) {
	
	.comment{
		position: relative;
	}
	.hidd{
		visibility: hidden;
		opacity: 0;
		width: 0vw;
	}
	
}
.card{
	overflow: hidden;
	border: 0 !important;
	border-radius: 20px !important;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  .card1{
	background-color: #212529;
	box-shadow: none;

  }
  .card2 {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	border: 1px solid rgba(0, 0, 0, .05);
	border-radius: .375rem;
	background-color: #212529;
	background-clip: border-box;
  }
  
  .img-left{
	width: 50%;
	max-height: 100%;
	background-size: cover;
  }
  
  .card-body{
	width: 50%;
	padding: 1rem;
  }

  .post {
	  display: flex;
	  flex-direction: row;
	  width: 75%;
  }
  
  .title{
	margin-bottom: 0rem;
	font-size: 2rem;
  }
.mt{
	margin-top: -0.2rem!important;
}
.resp{
	background-color: #ecf3f7;
	max-height: 32rem!important;
}

.card-img-top{
	max-height: 45vh;
}

.pre-scrollable{
		max-width: 100%;
		max-height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
	}

.pre-scrollable::-webkit-scrollbar {
  width: 0;
}

.respon1{
	display: none;
	opacity: 0;

}

.respon{
	visibility: visible;
	opacity: 1;
}
@media screen and (max-width: 1200px) {
	.title { font-size: 2rem; }
	.gal{
	margin-right: auto!important;
    margin-left: auto!important;
  }
}

@media screen and (max-width: 992px) {
	.title { font-size: 1.75rem; }
}

@media screen and (max-width: 768px) {
	.title { font-size: 1.75rem; }
	.respon1{
		display: block;
		opacity: 1;
	}

	.respon{
		visibility: hidden;
		opacity: 0;
		width: 0vw;
		height: 0vh;
	}
}

@media screen and (max-width: 576px) {
	.title { font-size: 1.5rem; }
}

@media screen and (min-width: 1200px) {
	.title { font-size: 2rem; }



}

@media screen and (min-width: 1400px) {
	.title { font-size: 2.25rem; }
}
@media screen and (min-height: 1310px) {
	.card-bodya{
		height: 100%;
	}
}
.profile-head {
    transform: translateY(5rem)
}

.cover {
	background-color: #555;
}

.card-profile-image {
  position: relative;
}

.card-profile-image img {
  position: absolute;
  left: 50%;
  max-width: 180px;
  z-index: 10;
  transition: all .15s ease;
  transform: translate(-50%, -30%);
  border-radius: 0.375rem;
}

.card-profile-image img:hover {
  transform: translate(-50%, -33%);
}
.mt--7{
	margin-top: -9rem !important;
}
.mt7{
	margin-top: -3rem !important;
}
.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .15s ease;
  }
  
  
.bg-gradient-default {
	background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
  }
  .opacity-8 {
	opacity: .9 !important;
  }
.header {
	position: relative;
  }

.comments1{
		border-left:rgba(0, 0, 0, .1) solid 1px;

		width: 50%;
		height: 10%;
		border-radius: 5%; 
		margin-top: 5px; 
		background-color: #ecf3f7;
	}

@media screen and (max-width: 780px) {

	.img-left{
		width: 100%;
		background-size: cover;
		height: 50%;
	}
	
	.post {
		height: auto;
		display: flex;
		flex-direction: column;
		background-color: #212529;
	}
	.comments1 {
		width: 100%;
		height: 70%;
		border-radius: 5%; 
		margin-top: 5px; 
		background-color: #ecf3f7;
	}

	.title{
		visibility: hidden;
		opacity: 0;
		position: fixed;
		height: 0.1px;
	}
		  
	  
	.gallery {
		width: auto;
		min-height: auto;
	}
	.gallery-img {
		min-width: 200px;
		min-height: 500px;
	}
	  
}