body {
	background-color: whitesmoke;
}

.username {
	text-decoration: none;
	font-size: 20px;
	font-family: Verdana;
	color: dimgrey;
}

#logo {
	font-family: Billabong;
	font-size: 50px;
	text-decoration:none;
}

.rounded-circle {
	width: 2.5vw;
	height: 2.5vw;
}

.rounded-circlea {
	border-radius: 100%;
}

.create_date {
	color: lightgrey;
	float:right;
}

.profile {
	width: 40px;
}

.camera {
	margin-right: 2rem;
	width: 50%;
}

.image {
	width: 50%;
}

.buttons {
	width: 60%;
	height: auto;
}
.filters {
	width: 54%;
	height: 100px;
}

label {
	display: block;
	position: relative;
	cursor: pointer;
  }
  
  label:before {
	background-color: white;
	color: white;
	content: " ";
	display: block;
	border-radius: 50%;
	border: 1px solid grey;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 28px;
	transition-duration: 0.4s;
	transform: scale(0);
  }
  
  label img {
	transition-duration: 0.2s;
	transform-origin: 50% 50%;
  }
  
  :checked + label:before {
	content: "✓";
	background-color: green;
	transform: scale(1);
  }
  
  :checked + label img {
	transform: scale(0.9);
	z-index: -1;
  }

#filters
{
	position: absolute;
	top: 10%;
	left: 10%;
}

.filter {
	width: 40%;
}

.information {
	width: 70%;
}

.user-img {
    margin-top: 4px
}


i {
	width: 30px;
	height: auto;
}

#edit_div {
	display: none;
}

#thum {
	height: 20rem;
}

.column {
	float: left;
	width: 23%;
	height: auto;
}

.filter_img {
	width: 70%;
	height: 10%;
}

.edit-btn {
	width: 40%;
}

.del-btn {
	width: 40%;
}
.gallery {
	width: 33.33%;
	min-width: 200px;
	min-height: auto;
}
.infos {
	width: 25%;
}
.profile-pic {
	border-radius: 50%;
	width: 13vw;
	height: 13vw;
	object-fit: cover;

}
.update-btn {
	width: 60%;
}
.cancel-btn {
	width: 40%;
}

.post-user {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;  
	border: 1px solid black;
	object-fit: cover;
}

.out-btn {
	width: 1.5rem;
	height: 1.5rem;
}

.list-out-btn {
	width: 1.5rem;
	height: 1.5rem;
}

.cam-btn {
	width: 2rem;
	height: 2rem;
}

.list-cam-btn {
	width: 2rem;
	height: 2rem;
}

.profile-btn {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	object-fit: cover;
}

.list-profile-btn {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	object-fit: cover;
}

.list-btn {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.list-toggle {
	display: none;
}

.gallery-container {
	width: 70%;
}

.post-container {
	width: 60%;
	height: 60rem;
}
.post-img {
	width: 100%;
	height: 50rem;
	object-fit: cover;
}

.liste {
	display: none;
	position: absolute;
	right: 10%;
	top: 15%;
	background-color: whitesmoke;
	border: 1px solid black;
	width: 10rem;
}
.liste ul {
	list-style: none;
}

.liste ul li a {
	text-decoration: none;
}


.pr{
	position: absolute;
	right: -3vw;
	top: 6vh;
}
.mono {
	position: absolute;
	top: 85px;
	right: 0vw;
	padding: 10px 20px;
	background: #fff;
	width: 215px;
	box-sizing: 0 0.5vw 2.5vw rgba(0,0,0,0.1);
	border-radius: 15px;
	transition: 1.5s;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
}
.mono.active {
	visibility: visible;
	opacity: 1;
}
.mono.desactive {
	visibility: hidden;
	opacity: 0;
}
.mono::before{
	content: '';
	position: absolute;
	top: -2px;
	right: 2vw;
	width: 20px;
	height: 20px;
	background: #fff;
	transform: rotate(45deg);
	
}
.mono h3 {
	width: 100%;
	text-align: center;
	font-size: 18px;
	padding: 20px 0;
	font-weight: 500;
	color: #555;
	line-height: 1.2em;
}
.mono h3 span{
	font-size: 14px;
	color: #cecece;
	font-weight: 400;
}
.mono ul li{
	list-style: none;
	padding: 10px 0;
	border-top: 1px solid rgba(0,0,0,0.05);
	display: flex;
	align-items: center;
	justify-content: center;
}
.mono ul li img{
	max-width: 20px;
	margin-right: 10px;
	opacity: 0.5;
	transition: 0.5s;
}
.mono ul li:hover img{
	opacity: 1;
}
.mono ul li a{
	display: inline-block;
	text-decoration: none;
	color: #555;
	font-weight: 500;
	transition: 0.5s;
}
.mono ul li a:hover a{
color: #ff5d94;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #145979;color: white;}

.comment{
	
	position: absolute;
	background-color: black;
	height: auto;
	width: auto;
	right: 8vw;
}


@media screen and (min-width:768px) {
	
	.card-bodya{
		width:30%;
	}
	.pr{
		position: absolute;
		right: 0vw;
		top: 4vh;
	}
	
}
@media screen and (max-width:768px) {
	
	.comment{
		position: relative;
	}
	
}
.card{
	overflow: hidden;
	border: 0 !important;
	border-radius: 20px !important;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .img-left{
	width: 50%;
	background-size: cover;
  }
  
  .card-body{
	padding: 1rem;
  }
  
  .title{
	margin-bottom: 0rem;
	font-size: 1rem;
  }

@media screen and (min-width: 576px) {
    .title { font-size: 1.25rem; }
}
@media screen and (min-width: 768px) {
    .title { font-size: 1.5rem; }
}
@media screen and (min-width: 992px) {
    .title { font-size: 1.75rem; }
}
@media screen and (min-width: 1200px) {
    .title { font-size: 2rem; }
}
